python-dotenv>=1.2.2,<2.0
psycopg[binary]~=3.3.0
django>=5.2.11,<5.3
djangorestframework==3.16.1
drf-yasg~=1.21.11
redis~=5.0.0
sentence-transformers~=3.0.0
beautifulsoup4~=4.12.0
requests>=2.32.0,<3.0
django-prometheus~=2.3.0
minio~=7.2.0
numpy~=1.26.0
prometheus-client~=0.21.0