{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block styles %}{% endblock %}
</head>
<body>
  <!-- Общая верхняя плашка -->
<header class="site-topbar">
  <div class="topbar-left">
    <a class="site-topbar__home" href="{% url 'support_services' %}" aria-label="На главную">
      <img class="site-topbar__home-icon" src="{% static 'img/home.png' %}" alt="">
      <span>На главную</span>
    </a>

    <p class="site-topbar__title">
      {% block topbar_title %}Удаленная поддержка{% endblock %}
    </p>
  </div>

  <div class="auth-box">
    {% if request.user.is_authenticated %}
      <span class="auth-username">{{ request.user.get_username }}</span>
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn-blue">Выйти</button>
      </form>
    {% else %}
      <a class="btn-blue" href="{% url 'login' %}?next={% url 'support_services' %}">Войти</a>
    {% endif %}
  </div>
</header>


  <!-- Контент страницы -->
  <div class="space">
    {% block content %}{% endblock %}
  </div>
</body>
</html>


